parameters:
    level: 8
    phpVersion: 80400
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Dead catch - Exception is never thrown in the try block\.#'
            path: src/Util/TypeConverter.php

