parameters:
	ignoreErrors:
		-
			message: '#^Method GoSuccess\\Digistore24\\Ipn\\Enum\\SuccessDetectionType\:\:labels\(\) should return array\<string, string\> but returns array\<int\|string, string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Enum/SuccessDetectionType.php

		-
			message: '#^Trait GoSuccess\\Digistore24\\Ipn\\Trait\\IntBackedEnumTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Trait/IntBackedEnumTrait.php
