parameters:
    level: 8
    phpVersion: 80400
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: catch.neverThrown
            path: src/Helper/PropertyConversions.php

